.gallery-item {
    height: 250px;
    width: 200px; 
    margin-right: 20px;
    margin-top: 20px;
    display: inline-block;
    border: 2px solid black;
    border-radius: 10%; 
    justify-content: center;
  }