.card-gallery {
    display: inline-block;
    margin: 20px;
}

.gallery-item {
    height: 250px;
    width: 200px; 
    margin-right: 20px;
    margin-top: 20px;
    display: inline-block;
    justify-content: center;
  }

  .picOrDesc {
      height: 150px;
      width: 150px;
      margin: 0 auto;
      vertical-align: middle;
  }

  .description {
      margin: 0;
  }

  .like-btn {
      margin-top: 20px;
  }



  